.build/
.DS_Store
*.xcuserstate
.build/
DerivedData/
*.pcm
*.swiftmodule
*.o
*.swiftdoc
*.swiftsourceinfo
.DS_Store
.build/
DerivedData/
*.pcm
*.swiftmodule
*.o
*.swiftdoc
*.swiftsourceinfo
.DS_Store
